<% title = defined?(@tournament) && @tournament ? "#{@tournament.name} - #{DOMAIN}" : DOMAIN %>
<title>⚽ ️<%= title %><%= official ? ' - TOIMITSIJAN SIVU' : '' %></title>
<% description = defined?(@tournament) && @tournament ? "#{@tournament.name}, #{@tournament.location}, #{@tournament.start_date.strftime('%d.%m.%y')}" : 'Turnaussivusto jalkapalloturnausten otteluohjelmia varten' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="description" content="<%= description %>">
<meta property="og:image" content="https://www.fudisturnaus.com/logo.jpg" />
<meta property="og:image:width" content="225" />
<meta property="og:image:height" content="225" />
<meta property="og:locale" content="fi_FI">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
