<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= render partial: 'shared/google_analytics' %>
    <%= render partial: 'shared/meta_tags', locals: { official: false } %>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

    <%= javascript_include_tag 'application', defer: true %>
    <%= stylesheet_link_tag "application", defer: true %>

    <% if Rails.env.production? && !@tournament&.premium? %>
    <script data-ad-client="ca-pub-3948131044642474" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
